*{
	margin: 0;
	padding: 0;
}
html,body{
	height: 100%;
}
.swiper-container,.swiper-wrapper{
	height: 100%;
}
.swiper-slide{
	height: 100%;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: 50% 50%;
}
.swiper-slide .im{
	border-radius: 50%;
	display: block;
	margin: 0 auto;
	margin-top: 10vh;
	height: 20vw;
	width: 20vw;
	max-width: 150px;
	max-height: 150px;
}
.ia{
	position: fixed;
	width: 60px;
	z-index: 11;
	left: 50%;
	margin-left: -30px;
	bottom: 40vh;
	border-radius: 50%;
	animation-play-state:running;
}
.xzz{
		-webkit-animation:xz 2s infinite linear;
	-o-animation:xz 2s infinite linear;
	animation:xz 2s infinite linear;
}

@keyframes xz{
		0%{transform:rotate(0deg);}
		50%{transform:rotate(180deg);}
		100%{transform:rotate(360deg);}
	 }
.ig{
	position: fixed;
	width: 30px;
	z-index: 10;
	left: 50%;
	margin-left: -15px;
	-webkit-animation: opacity 1s ease infinite;
	-o-animation: opacity 1s ease infinite;
	animation: opacity 1s ease infinite;
}
-webkit-@keyframes opacity{
	0%{
		opacity: 1;
		bottom: 2em;
	}
	100%{
		opacity: 0.3;
		bottom: 4em
	}
}
@keyframes opacity{
	0%{
		opacity: 1;
		bottom: 2em;
	}
	100%{
		opacity: 0.3;
		bottom: 4em
	}
}
.swiper-slide p{
	text-align: center;
	line-height: 10vw;
	color: red;
	font-size: 10vw;
	font-weight: 900;
}
.slide1{
	background-image: url(../img/true1.jpg);
}
.slide2{
	background-image: url(../img/true2.jpg);
}
.slide3{
	background-image: url(../img/true3.jpg);
}
.slide4{
	background-image: url(../img/true4.jpg);
}
.slide5{
	background-image: url(
		../img/true5.jpg);
}
.slide6{background-image: url(
	../img/true6.jpg);
}
.slide7{background-image: url(
	../img/true7.jpg);
}